##This file contains all the env variables needed for this project

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB=
KC_DB_URL=
KC_DB_USERNAME=
KC_DB_PASSWORD=

# Spring Boot
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_REDIS_HOST=
SPRING_REDIS_PORT=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=
SERVER_PORT=